@model IEnumerable<MVC_App.Models.Categories>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>

<!--Using Partial View-->
@*@foreach (var item in Model)
{
	@Html.Partial("CatView",item )
}*@

<!--Using Partial Helper-->
 @foreach (var item in Model)
 {
	 <partial name="CatView.cshtml" for="@item" />
 }



@*<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.CategoryRowId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CategoryId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CategoryName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.BasePrice)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.SubCategoryName)
				</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
	@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryRowId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CategoryName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BasePrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SubCategoryName)
				</td>

				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.CategoryRowId }) |
					@Html.ActionLink("Details", "Details", new { id = item.CategoryRowId }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.CategoryRowId }) |
					@Html.ActionLink("Show Products", "ShowProducts", new { id = item.CategoryRowId })
				</td>
			</tr>
	}
		</tbody>
	</table>*@
